certtable {
  border-collapse: collapse;
  width: 100%;
}
certtable td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

certtable tr:nth-child(even){background-color: #f2f2f2;}

certtable tr:hover {background-color: #ddd;}

certtable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}
